#socialMediaInsta {
    font-size: 35px;
}
#socialMediaFaceBook {
    font-size: 35px;
}
#socialMediaLinkedIn {
    font-size: 35px;
}
#socialMediaGitHub {
    font-size: 35px;
}
.projects {
    height: 400px;
    overflow: auto;
}
#redButton {
    background-color: red;
}